@import "antd/dist/antd.css";

.site-layout-content {
  min-height: 50vh;
  background: #fff;
  width: auto;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}

.layout {
  overflow: hidden;
}
