@import "styles/variables.scss";
@import "styles/mixins.scss";

.typography {
  @include transition(
    color,
    $theme-switch-transition-duration,
    $theme-switch-transition-ease
  );

  &--light {
    color: $text-primary-color-light;
  }

  &--dark {
    color: $text-primary-color-dark;
  }

  &__accent {
    color: $accent-color;
  }
}
