@import "styles/variables.scss";
@import "styles/mixins.scss";

.button {
  text-align: center;
  font-size: 1.6em;
  font-weight: $font-weight-bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $button-border-color;
  outline: none;
  position: relative;
  display: inline-block;
  padding: 15px 10px;
  cursor: pointer;
  width: auto;
  @include transitions(
    color $theme-switch-transition-duration $theme-switch-transition-ease,
    background-color $theme-switch-transition-duration
      $theme-switch-transition-ease
  );

  &--light {
    color: $text-primary-color-light;
    background-color: $background-color-light;
  }

  &--dark {
    color: $text-primary-color-dark;
    background-color: $background-color-dark;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid $button-border-color;
    background-color: transparent;
    left: 4px;
    top: 4px;
    z-index: -1;
    content: "";
    @include transition(all, 0.4s, ease);
  }

  &:hover {
    top: 2px;
    left: 2px;
    color: $button-active-color;
    @include transition(color, 0.4s, ease);

    &::after {
      top: -2px;
      left: -2px;
    }
  }
}
