@import "styles/variables.scss";

.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  &--light {
    background-color: $background-color-light;
  }

  &--dark {
    background-color: $background-color-dark;
  }
}
