@import "./palette.scss";

// Common for Light and Dark Theme
$accent-color: $Turquoise;

// Light Theme
$background-primary-color-light: $White;
$primary-color-light: $Jet;

// Dark Theme
$background-primary-color-dark: $Jet;
$primary-color-dark: $White;
