@import "styles/variables.scss";
@import "styles/mixins.scss";

.menu-button {
  width: 48px;
  height: 48px;
  padding: 10px;
  margin-right: 4vw;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  float: right;
  cursor: pointer;
  @include transitions(
    color $theme-switch-transition-duration $theme-switch-transition-ease,
    background-color $theme-switch-transition-duration
      $theme-switch-transition-ease
  );

  @media (min-width: $screen-medium-min) {
    & {
      display: none;
    }
  }

  &--light {
    color: $text-primary-color-light;
    background-color: $background-color-light;
  }

  &--dark {
    color: $text-primary-color-dark;
    background-color: $background-color-dark;
  }
}
