@import "styles/variables.scss";
@import "styles/mixins.scss";

.navbar {
  width: 100vw;
  font-weight: $font-weight-bold;
  position: fixed;
  top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include transition(
    background-color,
    $theme-switch-transition-duration,
    $theme-switch-transition-ease
  );

  &__list {
    font-size: 1.3em;
    margin-right: 4vw;
  }

  &--light {
    background-color: $background-color-light;
  }

  &--dark {
    background-color: $background-color-dark;
  }
}
